Q1.Scrape the details of most viewed videos on YouTube from Wikipedia.
Url = https://en.wikipedia.org/wiki/List_of_most-viewed_YouTube_videos
You need to find following details:
A) Rank
B) Name
C) Artist
D) Upload date
E) Views

In [5]:
import requests
from bs4 import BeautifulSoup

# Send a GET request to the Wikipedia page
url = "https://en.wikipedia.org/wiki/List_of_most-viewed_YouTube_videos"
response = requests.get(url)

# Create a BeautifulSoup object to parse the HTML content
soup = BeautifulSoup(response.content, "html.parser")

# Find the table containing the most viewed videos
table = soup.find("table", class_="wikitable")

# Find all the rows in the table except the header row
rows = table.find_all("tr")[1:30]

# Scrape the details for each video
for row in rows:
    cells = row.find_all("td")
    
    # Extract the desired information from the cells
    rank = cells[0].text.strip()
    name = cells[1].text.strip()
    artist = cells[2].text.strip()
    upload_date = cells[4].text.strip()
    views = cells[3].text.strip()
    
    # Print the details
    print("Rank:", rank)
    print("Name:", name)
    print("Artist:", artist)
    print("Upload Date:", upload_date)
    print("Views:", views)
    print()

Rank: 1.
Name: "Baby Shark Dance"[4]
Artist: Pinkfong Baby Shark - Kids' Songs & Stories
Upload Date: June 17, 2016
Views: 12.85

Rank: 2.
Name: "Despacito"[7]
Artist: Luis Fonsi
Upload Date: January 12, 2017
Views: 8.16

Rank: 3.
Name: "Johny Johny Yes Papa"[14]
Artist: LooLoo Kids
Upload Date: October 8, 2016
Views: 6.70

Rank: 4.
Name: "Bath Song"[15]
Artist: Cocomelon – Nursery Rhymes
Upload Date: May 2, 2018
Views: 6.20

Rank: 5.
Name: "Shape of You"[16]
Artist: Ed Sheeran
Upload Date: January 30, 2017
Views: 6.00

Rank: 6.
Name: "See You Again"[19]
Artist: Wiz Khalifa
Upload Date: April 6, 2015
Views: 5.89

Rank: 7.
Name: "Phonics Song with Two Words"[24]
Artist: ChuChu TV
Upload Date: March 6, 2014
Views: 5.30

Rank: 8.
Name: "Wheels on the Bus"[25]
Artist: Cocomelon – Nursery Rhymes
Upload Date: May 24, 2018
Views: 5.24

Rank: 9.
Name: "Uptown Funk"[26]
Artist: Mark Ronson
Upload Date: November 19, 2014
Views: 4.92

Rank: 10.
Name: "Learning Colors – Colorful Eggs on a Farm"[27]
Artist: Miroshka TV
Upload Date: February 27, 2018
Views: 4.89

Rank: 11.
Name: "Gangnam Style"[28]
Artist: Psy
Upload Date: July 15, 2012
Views: 4.80

Rank: 12.
Name: "Masha and the Bear – Recipe for Disaster"[33]
Artist: Get Movies
Upload Date: January 31, 2012
Views: 4.55

Rank: 13.
Name: "Dame Tu Cosita"[34]
Artist: El Chombo
Upload Date: April 5, 2018
Views: 4.35

Rank: 14.
Name: "Axel F"[35]
Artist: Crazy Frog
Upload Date: June 16, 2009
Views: 3.91

Rank: 15.
Name: "Sugar"[36]
Artist: Maroon 5
Upload Date: January 14, 2015
Views: 3.87

Rank: 16.
Name: "Roar"[37]
Artist: Katy Perry
Upload Date: September 5, 2013
Views: 3.80

Rank: 17.
Name: "Counting Stars"[38]
Artist: OneRepublic
Upload Date: May 31, 2013
Views: 3.79

Rank: 18.
Name: "Sorry"[39]
Artist: Justin Bieber
Upload Date: October 22, 2015
Views: 3.66

Rank: 19.
Name: "Baa Baa Black Sheep"[40]
Artist: Cocomelon – Nursery Rhymes
Upload Date: June 25, 2018
Views: 3.64

Rank: 20.
Name: "Thinking Out Loud"[41]
Artist: Ed Sheeran
Upload Date: October 7, 2014
Views: 3.60

Rank: 21.
Name: "Waka Waka (This Time for Africa)"[42]
Artist: Shakira
Upload Date: June 4, 2010
Views: 3.59

Rank: 22.
Name: "Dark Horse"[43]
Artist: Katy Perry
Upload Date: February 20, 2014
Views: 3.52

Rank: 23.
Name: "Lakdi Ki Kathi"[44]
Artist: Jingle Toons
Upload Date: June 14, 2018
Views: 3.48

Rank: 24.
Name: "Faded"[45]
Artist: Alan Walker
Upload Date: December 3, 2015
Views: 3.45

Rank: 25.
Name: "Perfect"[46]
Artist: Ed Sheeran
Upload Date: November 9, 2017
Views: 3.45

Rank: 26.
Name: "Let Her Go"[47]
Artist: Passenger
Upload Date: July 25, 2012
Views: 3.44

Rank: 27.
Name: "Girls Like You"[48]
Artist: Maroon 5
Upload Date: May 31, 2018
Views: 3.42

Rank: 28.
Name: "Humpty the train on a fruits ride"[49]
Artist: Kiddiestv Hindi – Nursery Rhymes & Kids Songs
Upload Date: January 26, 2018
Views: 3.41

Rank: 29.
Name: "Lean On"[50]
Artist: Major Lazer
Upload Date: March 22, 2015
Views: 3.38

In [14]:
import selenium
import pandas as pd
from selenium import webdriver

from bs4 import BeautifulSoup 
import requests
from selenium.webdriver.common.by import By
import time
from selenium.common.exceptions import NoSuchElementException, StaleElementReferenceException
from selenium.webdriver.support.ui import WebDriverWait

In [9]:
driver=webdriver.Chrome(r"chromedriver.exe")

url = "https://en.wikipedia.org/wiki/List_of_most-viewed_YouTube_videos"
driver.get(url)

C:\Users\91897\AppData\Local\Temp\ipykernel_17212\3328788396.py:1: DeprecationWarning: executable_path has been deprecated, please pass in a Service object
  driver=webdriver.Chrome(r"chromedriver.exe")

In [10]:
Rank=[]
Name=[]
Artist=[]
Date=[]
Views=[]

In [11]:
# scraping Rank of the videos
try:
    for i in driver.find_elements(By.XPATH,"//table[@class='wikitable sortable jquery-tablesorter'][1]/tbody/tr/td[1]"):
        Rank.append(i.text)
except NoSuchElementException:
    Rank.append("-")
        
# Scraping Name of the videos
try:
    for i in driver.find_elements(By.XPATH,"//table[@class='wikitable sortable jquery-tablesorter'][1]/tbody/tr/td[2]"):
        Name.append(i.text)
except NoSuchElementException:
    Name.append("-")
        
# Scraping Artist of the videos
try:
    for i in driver.find_elements(By.XPATH,"//table[@class='wikitable sortable jquery-tablesorter'][1]/tbody/tr/td[3]"):
        Artist.append(i.text)
except NoSuchElementException:
    Artist.append("-")
        
# Scraping Upload_Date of the videos
try:
    for i in driver.find_elements(By.XPATH,"//table[@class='wikitable sortable jquery-tablesorter'][1]/tbody/tr/td[5]"):
        Date.append(i.text)
except NoSuchElementException:
    Date.append("-")
        
# Scraping Views of the videos
try:
    for i in driver.find_elements(By.XPATH,"//table[@class='wikitable sortable jquery-tablesorter'][1]/tbody/tr/td[4]"):
        Views.append(i.text)
except NoSuchElementException:
    Views.append("-")
        
# creating DataFrame for scraped data
Wiki = pd.DataFrame({})
Wiki['Rank'] = Rank
Wiki['Name'] = Name
Wiki['Artist'] = Artist
Wiki['Upload Date'] = Date
Wiki['Views (in Billions)'] = Views

# removing stray numbers from Name column
Wiki.Name = Wiki.Name.apply(lambda x:x[:-4].strip('"'))
Wiki

,Rank,Name,Artist,Upload Date,Views (in Billions)
0,1.,Baby Shark Dance,Pinkfong Baby Shark - Kids' Songs & Stories,"June 17, 2016",12.85
1,2.,Despacito,Luis Fonsi,"January 12, 2017",8.16
2,3.,Johny Johny Yes Papa,LooLoo Kids,"October 8, 2016",6.70
3,4.,Bath Song,Cocomelon – Nursery Rhymes,"May 2, 2018",6.20
4,5.,Shape of You,Ed Sheeran,"January 30, 2017",6.00
5,6.,See You Again,Wiz Khalifa,"April 6, 2015",5.89
6,7.,Phonics Song with Two Words,ChuChu TV,"March 6, 2014",5.30
7,8.,Wheels on the Bus,Cocomelon – Nursery Rhymes,"May 24, 2018",5.24
8,9.,Uptown Funk,Mark Ronson,"November 19, 2014",4.92
9,10.,Learning Colors – Colorful Eggs on a Farm,Miroshka TV,"February 27, 2018",4.89
10,11.,Gangnam Style,Psy,"July 15, 2012",4.80
11,12.,Masha and the Bear – Recipe for Disaster,Get Movies,"January 31, 2012",4.55
12,13.,Dame Tu Cosita,El Chombo,"April 5, 2018",4.35
13,14.,Axel F,Crazy Frog,"June 16, 2009",3.91
14,15.,Sugar,Maroon 5,"January 14, 2015",3.87
15,16.,Roar,Katy Perry,"September 5, 2013",3.80
16,17.,Counting Stars,OneRepublic,"May 31, 2013",3.79
17,18.,Sorry,Justin Bieber,"October 22, 2015",3.66
18,19.,Baa Baa Black Sheep,Cocomelon – Nursery Rhymes,"June 25, 2018",3.64
19,20.,Thinking Out Loud,Ed Sheeran,"October 7, 2014",3.60
20,21.,Waka Waka (This Time for Africa),Shakira,"June 4, 2010",3.59
21,22.,Dark Horse,Katy Perry,"February 20, 2014",3.52
22,23.,Lakdi Ki Kathi,Jingle Toons,"June 14, 2018",3.48
23,24.,Faded,Alan Walker,"December 3, 2015",3.45
24,25.,Perfect,Ed Sheeran,"November 9, 2017",3.45
25,26.,Let Her Go,Passenger,"July 25, 2012",3.44
26,27.,Girls Like You,Maroon 5,"May 31, 2018",3.42
27,28.,Humpty the train on a fruits ride,Kiddiestv Hindi – Nursery Rhymes & Kids Songs,"January 26, 2018",3.41
28,29.,Lean On,Major Lazer,"March 22, 2015",3.38
29,30.,Bailando,Enrique Iglesias,"April 11, 2014",3.38

In [12]:
driver.close()

Q2.Scrape the details teamIndia’sinternationalfixtures from bcci.tv. 
Url = https://www.bcci.tv/.
You need to find following details:
A) Match title (I.e. 1stODI)
B) Series
C) Place
D) Date
E) Time

In [13]:
import pandas as pd
import selenium
from bs4 import BeautifulSoup
import time
from selenium import webdriver
import requests
import re
from selenium.common.exceptions import NoSuchElementException, StaleElementReferenceException
from selenium.webdriver.support.ui import WebDriverWait

import warnings
warnings.filterwarnings('ignore')

In [14]:
driver=webdriver.Chrome(r"C:\Users\Hello\Downloads\chromedriver_win32\chromedriver.exe")

In [15]:
# Getting the webpage of mentioned url 
url = "https://www.bcci.tv/."
driver.get(url)

In [20]:
# Opening fixtures

international =driver.find_element(By.XPATH,'//div[@class="collapse navbar-collapse"]/ul/li[2]/a')
try:
    international.click()
except ElementNotInteractableException:
    driver.get(international.get_attribute('href'))

In [21]:
# Creating empty list to store all the scrapped result
title = []
series = []
place = []
date = []
time = []
url=[]

In [26]:
# Extracting title
try:
    title_tags=driver.find_elements(By.XPATH,'//span[@class="ng-binding"]')
    for i in title_tags :
        title.append(i.text)
except StaleElementReferenceException:
    title.append('--')
title

['Dhaka',
 'Dhaka',
 'Dominica',
 'Dhaka',
 'Dhaka',
 'Dhaka',
 'Trinidad',
 'Dhaka',
 'Dhaka',
 'Dhaka',
 'Dominica',
 'Dhaka',
 'Dhaka',
 'Dhaka',
 'Trinidad',
 'Dhaka',
 'Dhaka',
 'Dhaka',
 'Dominica',
 'Dhaka',
 'Dhaka',
 'Dhaka',
 'Trinidad',
 'Dhaka',
 'Dhaka',
 'Dhaka',
 'Dominica',
 'Dhaka',
 'Dhaka',
 'Dhaka',
 'Trinidad',
 'Dhaka']

In [27]:
# Extracting series
try:
    series_tags=driver.find_elements(By.XPATH,'//span[@class="matchOrderText ng-binding ng-scope"]')
    for i in series_tags :
        series.append(i.text.split("-")[0])
except StaleElementReferenceException:
    series.append('--')
series

['1st T20I ',
 '2nd T20I ',
 '1st Test ',
 '3rd T20I ',
 '1st ODI ',
 '2nd ODI ',
 '2nd Test ',
 '3rd ODI ',
 '1st T20I ',
 '2nd T20I ',
 '1st Test ',
 '3rd T20I ',
 '1st ODI ',
 '2nd ODI ',
 '2nd Test ',
 '3rd ODI ',
 '1st T20I ',
 '2nd T20I ',
 '1st Test ',
 '3rd T20I ',
 '1st ODI ',
 '2nd ODI ',
 '2nd Test ',
 '3rd ODI ']

In [28]:
# Extracting place
try:
    place_tags=driver.find_elements(By.XPATH,'//span[@class="ng-binding ng-scope"]')
    for i in place_tags :
        place.append(i.text.replace(','," "))
except StaleElementReferenceException:
    place.append('--')
place

['Shere Bangla National Stadium  Mirpur ',
 'Shere Bangla National Stadium  Mirpur ',
 'Windsor Park ',
 'Shere Bangla National Stadium  Mirpur ',
 'Shere Bangla National Stadium  Mirpur ',
 'Shere Bangla National Stadium  Mirpur ',
 "Queen's Park Oval ",
 'Shere Bangla National Stadium  Mirpur ',
 'Shere Bangla National Stadium  Mirpur ',
 'Shere Bangla National Stadium  Mirpur ',
 'Windsor Park ',
 'Shere Bangla National Stadium  Mirpur ',
 'Shere Bangla National Stadium  Mirpur ',
 'Shere Bangla National Stadium  Mirpur ',
 "Queen's Park Oval ",
 'Shere Bangla National Stadium  Mirpur ',
 'Shere Bangla National Stadium  Mirpur ',
 'Shere Bangla National Stadium  Mirpur ',
 'Windsor Park ',
 'Shere Bangla National Stadium  Mirpur ',
 'Shere Bangla National Stadium  Mirpur ',
 'Shere Bangla National Stadium  Mirpur ',
 "Queen's Park Oval ",
 'Shere Bangla National Stadium  Mirpur ']

In [29]:
# Extracting date
try:
    date_tags=driver.find_elements(By.XPATH,'//h5[@class="ng-binding"]')
    for i in date_tags :
        date.append(i.text)
except StaleElementReferenceException:
    date.append('--')
date

[]

In [30]:
# Extracting time
try:
    time_tags=driver.find_elements(By.XPATH,'//h5[@class="text-right ng-binding"]')
    for i in time_tags :
        time.append(i.text)
except StaleElementReferenceException:
    time.append('--')
time

[]

In [31]:
# Extracting url
url_tags=driver.find_elements(By.XPATH,'//a[@class="match-center-btn ng-scope"]')
for i in url_tags :
    url.append(i.get_attribute('href'))

In [32]:
url

[]

In [33]:
# Creating DataFrame for scrapped data

data_list= list(zip(title,series,place, date,time,url ))

data= pd.DataFrame(data_list, 
    columns =['Title', 'Series','Place', 'Date','Time ', 'URL'])

#Print the required data

print ("Details team India’s international fixtures from bcci.tv.:\n")
data

Details team India’s international fixtures from bcci.tv.:

Empty DataFrame
Columns: [Title, Series, Place, Date, Time , URL]
Index: []

Q3.Scrape the details of State-wise GDP ofIndia fromstatisticstime.com. 
Url = http://statisticstimes.com/
You have to find following details:
A) Rank
B) State
C) GSDP(18-19)- at current prices
D) GSDP(19-20)- at current prices
E) Share(18-19)
F) GDP($ billion)

In [34]:
#First connect to the driver

driver= webdriver.Chrome(r"C:\Users\91741\Downloads\chromedriver_win32\chromedriver.exe")

#open the page in automated chrome browser

driver.get("http://statisticstimes.com/")

In [35]:
# Clicking on ecomony tab

India=driver.find_element(By.XPATH,'//div[@class="dropdown"][2]/button')
try:
    India.click()
except ElementNotInteractableException:
    driver.get(India.get_attribute('href'))

In [36]:
# Clicking on India from economy tab
state = driver.find_element(By.XPATH,'/html/body/div[2]/div[1]/div[2]/div[2]/div/a[3]')
driver.get(state.get_attribute('href'))

In [37]:
# Clicking on GDP of Indian state

state = driver.find_element(By.XPATH,'/html/body/div[2]/div[2]/div[2]/ul/li[1]/a')
driver.get(state.get_attribute('href'))

In [38]:
# Creating empty lists to store all the scrapped result
rank =[]
state =[]
gsdp_19_20=[]
gsdp_18_19 =[]
share_18_19 =[]
GDP =[]

In [39]:
# Extracting Rank 
try:
    rank_tags =driver.find_elements(By.XPATH,'//table[@id="table_id"]/tbody/tr/td[1]')
    for i in rank_tags :
        rank.append(i.text)
except NoSuchElementException:
    rank.append('NA')
    
# Extracting state name
try:
    state_tags =driver.find_elements(By.XPATH,'//table[@id="table_id"]/tbody/tr/td[2]')
    for i in state_tags:
        state.append(i.text)
except NoSuchElementException:
    state.append('NA')
    
# Extracting GDSP 19-20
try:
    gsdp_19_20_tags =driver.find_elements(By.XPATH,'//table[@id="table_id"]/tbody/tr/td[3]')
    for i in gsdp_19_20_tags:
        gsdp_19_20.append(i.text)
except NoSuchElementException:
    gsdp_19_20.append('NA')
    
# Extracting GDSP 18-19
try:
    gsdp_18_19_tags =driver.find_elements(By.XPATH,'//table[@id="table_id"]/tbody/tr/td[4]')
    for i in gsdp_18_19_tags:
        gsdp_18_19.append(i.text)
except NoSuchElementException:
    gsdp_18_19.append('NA')
    
# Extracting Share 18_19
try:
    share_18_19_tags =driver.find_elements(By.XPATH,'//table[@id="table_id"]/tbody/tr/td[5]')
    for i in share_18_19_tags:
        share_18_19.append(i.text)
except NoSuchElementException:
    share_18_19.append('NA')
    
# Extracting GDP
try:
    GDP_tags =driver.find_elements(By.XPATH,'//table[@id="table_id"]/tbody/tr/td[6]')
    for i in GDP_tags:
        GDP.append(i.text)
except NoSuchElementException:
    GDP.append('NA')

In [40]:
print(len(rank))
print(len(state))
print(len(gsdp_19_20))
print(len(gsdp_18_19))
print(len(share_18_19))
print(len(GDP))

33
33
33
33
33
33

In [41]:
# Creating DataFrame for scrapped data

data_list= list(zip(rank, state,gsdp_19_20, gsdp_18_19,share_18_19 , GDP))

data= pd.DataFrame(data_list, 
    columns =['Rank', 'State', 'GSDP_19_20','GSDP_18_19','Share_18_19' , 'GDP'],
                index=pd.RangeIndex(start=1, stop=34, name='Sr. No.'))

#Print the required data

print ("Details of State-wise GDP of India from statisticstime.com:\n")
data

Details of State-wise GDP of India from statisticstime.com:

,Rank,State,GSDP_19_20,GSDP_18_19,Share_18_19,GDP
Sr. No.,,,,,,
1,1,Maharashtra,-,"2,632,792",13.94%,399.921
2,2,Tamil Nadu,"1,845,853","1,630,208",8.63%,247.629
3,3,Uttar Pradesh,"1,687,818","1,584,764",8.39%,240.726
4,4,Gujarat,-,"1,502,899",7.96%,228.290
5,5,Karnataka,"1,631,977","1,493,127",7.91%,226.806
6,6,West Bengal,"1,253,832","1,089,898",5.77%,165.556
7,7,Rajasthan,"1,020,989","942,586",4.99%,143.179
8,8,Andhra Pradesh,"972,782","862,957",4.57%,131.083
9,9,Telangana,"969,604","861,031",4.56%,130.791
10,10,Madhya Pradesh,"906,672","809,592",4.29%,122.977
11,11,Kerala,-,"781,653",4.14%,118.733
12,12,Delhi,"856,112","774,870",4.10%,117.703
13,13,Haryana,"831,610","734,163",3.89%,111.519
14,14,Bihar,"611,804","530,363",2.81%,80.562
15,15,Punjab,"574,760","526,376",2.79%,79.957
16,16,Odisha,"521,275","487,805",2.58%,74.098
17,17,Assam,-,"315,881",1.67%,47.982
18,18,Chhattisgarh,"329,180","304,063",1.61%,46.187
19,19,Jharkhand,"328,598","297,204",1.57%,45.145
20,20,Uttarakhand,-,"245,895",1.30%,37.351
21,21,Jammu & Kashmir,-,"155,956",0.83%,23.690
22,22,Himachal Pradesh,"165,472","153,845",0.81%,23.369
23,23,Goa,"80,449","73,170",0.39%,11.115
24,24,Tripura,"55,984","49,845",0.26%,7.571
25,25,Chandigarh,-,"42,114",0.22%,6.397
26,26,Puducherry,"38,253","34,433",0.18%,5.230
27,27,Meghalaya,"36,572","33,481",0.18%,5.086
28,28,Sikkim,"32,496","28,723",0.15%,4.363
29,29,Manipur,"31,790","27,870",0.15%,4.233
30,30,Nagaland,-,"27,283",0.14%,4.144
31,31,Arunachal Pradesh,-,"24,603",0.13%,3.737
32,32,Mizoram,"26,503","22,287",0.12%,3.385
33,33,Andaman & Nicobar Islands,-,-,-,-

Q4.Scrape the details of trending repositories on Github.com. 
Url = https://github.com/
You have to find the following details:
A) Repository title
B) Repository description
C) Contributors count
D) Language used

In [15]:
import time
import requests
from time import sleep

In [16]:
#First connect to the driver

driver= webdriver.Chrome(r"C:\Users\91741\Downloads\chromedriver_win32\chromedriver.exe")

#open the page in automated chrome browser

driver.get("https://github.com/You")
time.sleep(2)

C:\Users\91897\AppData\Local\Temp\ipykernel_30452\1690777593.py:3: DeprecationWarning: executable_path has been deprecated, please pass in a Service object
  driver= webdriver.Chrome(r"C:\Users\91741\Downloads\chromedriver_win32\chromedriver.exe")

In [17]:
# Clicking on button tab

button =driver.find_element(By.XPATH,'/html/body/div[1]/div[1]/header/div/div[1]/div[2]/button')
driver.get(button.get_attribute('href'))
time.sleep(2)

InvalidArgumentException: Message: invalid argument: 'url' must be a string
  (Session info: chrome=114.0.5735.199)
Stacktrace:
Backtrace:
	GetHandleVerifier [0x00C9A813+48355]
	(No symbol) [0x00C2C4B1]
	(No symbol) [0x00B35358]
	(No symbol) [0x00B8CF98]
	(No symbol) [0x00B7A73C]
	(No symbol) [0x00B8C922]
	(No symbol) [0x00B7A536]
	(No symbol) [0x00B582DC]
	(No symbol) [0x00B593DD]
	GetHandleVerifier [0x00EFAABD+2539405]
	GetHandleVerifier [0x00F3A78F+2800735]
	GetHandleVerifier [0x00F3456C+2775612]
	GetHandleVerifier [0x00D251E0+616112]
	(No symbol) [0x00C35F8C]
	(No symbol) [0x00C32328]
	(No symbol) [0x00C3240B]
	(No symbol) [0x00C24FF7]
	BaseThreadInitThunk [0x770A7D59+25]
	RtlInitializeExceptionChain [0x77E0B74B+107]
	RtlClearBits [0x77E0B6CF+191]

In [18]:
# Creating Empty list for Scraping Data
title=[]
description=[]
count =[]
language =[]
url=[]

In [19]:
# Extracting Share 18_19
try:
    title_tags =driver.find_elements(By.XPATH,'//h1[@class="h3 lh-condensed"]')
    for i in title_tags:
        title.append(i.text)
except NoSuchElementException:
    title.append('NA')

In [7]:
len(title)

0

In [20]:
# Extracting URL

try:
    url_tags =driver.find_elements(By.XPATH,'//h1[@class="h3 lh-condensed"]/a')
    for i in url_tags:
        url.append(i.get_attribute("href"))
except NoSuchElementException:
    url.append('NA')
len(url)

for i in url:
    driver.get(i)
    time.sleep(1)
    
    try:
        count_tags=driver.find_element(By.XPATH, "//h2[@class='h4 mb-3']/a[contains(text(),'Contributors')]/span")
        count.append(count_tags.text)
    except NoSuchElementException:
        count.append('NA')
        
for i in url:
    driver.get(i)
    time.sleep(1)

    # Scraping Language
    L =[]
    try:
        language_tag =driver.find_elements(By.XPATH,"//li[@class='d-inline']//a//span[1]")
        if language_tag:
            for j in language_tag:
                L.append(j.text)
        else:
            L.append('NA')
        language.append(L)
    except NoSuchElementException:
        language.append('NA')
        time.sleep(10)

In [21]:
data_list= list(zip(title,description,count,language,url ))

data= pd.DataFrame(data_list, 
    columns =['Title', 'Description', 'Count','Language','URL'],
                  index=pd.RangeIndex(start=1, stop=26, name='Sr. No.'))

#Print the required data

print ("Detail of trending Repository on Github.com:\n")
data

Detail of trending Repository on Github.com:

        Title Description Count Language  URL
Sr. No.
1         NaN         NaN   NaN      NaN  NaN
2         NaN         NaN   NaN      NaN  NaN
3         NaN         NaN   NaN      NaN  NaN
4         NaN         NaN   NaN      NaN  NaN
5         NaN         NaN   NaN      NaN  NaN
6         NaN         NaN   NaN      NaN  NaN
7         NaN         NaN   NaN      NaN  NaN
8         NaN         NaN   NaN      NaN  NaN
9         NaN         NaN   NaN      NaN  NaN
10        NaN         NaN   NaN      NaN  NaN
11        NaN         NaN   NaN      NaN  NaN
12        NaN         NaN   NaN      NaN  NaN
13        NaN         NaN   NaN      NaN  NaN
14        NaN         NaN   NaN      NaN  NaN
15        NaN         NaN   NaN      NaN  NaN
16        NaN         NaN   NaN      NaN  NaN
17        NaN         NaN   NaN      NaN  NaN
18        NaN         NaN   NaN      NaN  NaN
19        NaN         NaN   NaN      NaN  NaN
20        NaN         NaN   NaN      NaN  NaN
21        NaN         NaN   NaN      NaN  NaN
22        NaN         NaN   NaN      NaN  NaN
23        NaN         NaN   NaN      NaN  NaN
24        NaN         NaN   NaN      NaN  NaN
25        NaN         NaN   NaN      NaN  NaN

Q5.Scrape the details of top 100 songs on billiboard.com. 
Url = https:/www.billboard.com/
You have to find the following details:
A) Song name
B) Artist name
C) Last week rank
D) Peak rank
E) Weeks on board

In [63]:
import pandas as pd
import selenium
from bs4 import BeautifulSoup
import time
from selenium import webdriver
import requests
import re
from selenium.common.exceptions import NoSuchElementException, StaleElementReferenceException
from selenium.webdriver.support.ui import WebDriverWait

import warnings
warnings.filterwarnings('ignore')

In [64]:
#First connect to the driver

driver= webdriver.Chrome(r"C:\Users\91741\Downloads\chromedriver_win32\chromedriver.exe")

#open the page in automated chrome browser

driver.get(" https:/www.billboard.com/")
time.sleep(2)

In [65]:
# Clicking on button tab

button =driver.find_element(By.XPATH,'/html/body/div[3]/header/div/div[2]/div/div/div[2]/div[2]/div/div/nav/ul/li[1]/a')
driver.get(button.get_attribute('href'))
time.sleep(2)

In [66]:
# Clicking on hot100 tab

hot100 =driver.find_element(By.XPATH,'/html/body/div[3]/header/div/div[3]/div/nav/ul/li[1]/a')
driver.get(hot100.get_attribute('href'))
time.sleep(2)

In [67]:
# Creating Empty List for scrapped datas

name =[]
artist =[]
rank=[]
peak_rank =[]
weeks =[]
all_info=[]

In [68]:
# Scraping Song Name
try:
    song_tags =driver.find_elements(By.XPATH,'//ul[@class="lrv-a-unstyle-list lrv-u-flex lrv-u-height-100p lrv-u-flex-direction-column@mobile-max"]/li/h3')
    for i in song_tags:
        name.append(i.text)
except NoSuchElementException:
    name.append('NA')
    
all_info=[]
try:
    all_tags =driver.find_elements(By.XPATH,'//ul[@class="lrv-a-unstyle-list lrv-u-flex lrv-u-height-100p lrv-u-flex-direction-column@mobile-max"]/li/span')
    for i in all_tags:
        all_info.append(i.text)
except NoSuchElementException:
    all_info.append('NA')

In [69]:
# Scraping artist
artist= all_info[0:401]

# Scraping rank
rank= all_info[1:401]

# Scraping rank
peak_rank= all_info[2:401]

# Scraping weeks
weeks= all_info[3:401]

In [72]:
len(artist)

0

In [71]:
# Creating DataFrame for scrapped data

data_list= list(zip(name,artist,rank,peak_rank,weeks ))

data= pd.DataFrame(data_list, 
    columns =['Song_name', 'Artist_name', 'Last_week_rank','Peak_rank','Weeks on board'],
                  index=pd.RangeIndex(start=1, stop=101, name='This_week_rank'))

#Print the required data

print ("Details of the top 100 songs on Billiboard.com.:\n")
data

Details of the top 100 songs on Billiboard.com.:

               Song_name Artist_name Last_week_rank Peak_rank Weeks on board
This_week_rank
1                    NaN         NaN            NaN       NaN            NaN
2                    NaN         NaN            NaN       NaN            NaN
3                    NaN         NaN            NaN       NaN            NaN
4                    NaN         NaN            NaN       NaN            NaN
5                    NaN         NaN            NaN       NaN            NaN
...                  ...         ...            ...       ...            ...
96                   NaN         NaN            NaN       NaN            NaN
97                   NaN         NaN            NaN       NaN            NaN
98                   NaN         NaN            NaN       NaN            NaN
99                   NaN         NaN            NaN       NaN            NaN
100                  NaN         NaN            NaN       NaN            NaN

[100 rows x 5 columns]

Q6.. Scrape the details of Highest sellingnovels.
Url = https://www.theguardian.com/news/datablog/2012/aug/09/best-selling-books-all-time-fifty-shades-greycompare
You have to find the following details:
A) Book name
B) Author name
C) Volumes sold
D) Publisher
E) Genre

In [57]:
#First connect to the driver

driver= webdriver.Chrome(r"C:\Users\91741\Downloads\chromedriver_win32\chromedriver.exe")

#open the page in automated chrome browser

driver.get("  https://www.theguardian.com/news/datablog/2012/aug/09/best-selling-books-all-time-fifty-shades-grey-compare/")
time.sleep(2)

In [58]:
# Creating Empty Lists for scrapped data

book =[]
author =[]
volumes_sold =[]
publisher =[]
genre =[]

In [59]:
# Scraping Book name
try:
    book_tags =driver.find_elements(By.XPATH,'//table[@class="in-article sortable"]/tbody/tr/td[2]')
    for i in book_tags:
        book.append(i.text)
except NoSuchElementException:
    book.append('NA')

In [60]:
len(book)

100

In [61]:
# Scraping Book author's
try:
    author_tags =driver.find_elements(By.XPATH,'//table[@class="in-article sortable"]/tbody/tr/td[3]')
    for i in author_tags:
        author.append(i.text)
except NoSuchElementException:
    author.append('NA')
    

# Scraping Volumes sold
try:
    volumes_sold_tags =driver.find_elements(By.XPATH,'//table[@class="in-article sortable"]/tbody/tr/td[4]')
    for i in volumes_sold_tags :
        volumes_sold.append(i.text)
except NoSuchElementException:
    volumes_sold.append('NA')
    
    
# Scraping publisher
try:
    publisher_tags =driver.find_elements(By.XPATH,'//table[@class="in-article sortable"]/tbody/tr/td[5]')
    for i in publisher_tags :
        publisher.append(i.text)
except NoSuchElementException:
    publisher.append('NA')
    
    
# Scraping genre
try:
    genre_tags =driver.find_elements(By.XPATH,'//table[@class="in-article sortable"]/tbody/tr/td[6]')
    for i in genre_tags :
        genre.append(i.text)
except NoSuchElementException:
    genre.append('NA')

In [62]:
# Creating DataFrame for scrapped data

data_list= list(zip(book,author,volumes_sold,publisher,genre ))

data= pd.DataFrame(data_list, 
    columns =['Book', 'Book_ Author', 'Volumes_Sold','Publisher','Genre'],
                  index=pd.RangeIndex(start=1, stop=101, name='Rank'))

#Print the required data

print ("Details of the Highest Selling Novels.:\n")
data

Details of the Highest Selling Novels.:

,Book,Book_ Author,Volumes_Sold,Publisher,Genre
Rank,,,,,
1,"Da Vinci Code,The","Brown, Dan","5,094,805",Transworld,"Crime, Thriller & Adventure"
2,Harry Potter and the Deathly Hallows,"Rowling, J.K.","4,475,152",Bloomsbury,Children's Fiction
3,Harry Potter and the Philosopher's Stone,"Rowling, J.K.","4,200,654",Bloomsbury,Children's Fiction
4,Harry Potter and the Order of the Phoenix,"Rowling, J.K.","4,179,479",Bloomsbury,Children's Fiction
5,Fifty Shades of Grey,"James, E. L.","3,758,936",Random House,Romance & Sagas
...,...,...,...,...,...
96,"Ghost,The","Harris, Robert","807,311",Random House,General & Literary Fiction
97,Happy Days with the Naked Chef,"Oliver, Jamie","794,201",Penguin,Food & Drink: General
98,"Hunger Games,The:Hunger Games Trilogy","Collins, Suzanne","792,187",Scholastic Ltd.,Young Adult Fiction
99,"Lost Boy,The:A Foster Child's Search for the L...","Pelzer, Dave","791,507",Orion,Biography: General
100,Jamie's Ministry of Food:Anyone Can Learn to C...,"Oliver, Jamie","791,095",Penguin,Food & Drink: General

Q7.Scrape the details most watched tv series of all time from imdb.com. 
Url = https://www.imdb.com/list/ls095964455/
You have to find the following details:
A) Name
B) Year span
C) Genre
D) Run time
E) Ratings
F) Votes

In [77]:
#First connect to the driver

driver= webdriver.Chrome(r"C:\Users\91741\Downloads\chromedriver_win32\chromedriver.exe")

#open the page in automated chrome browser

driver.get(" https://www.imdb.com/list/ls095964455/")

In [79]:
# Creating Empty List for scrapped data

name =[]
year=[]
genre =[]
run_time =[]
ratings =[]
votes =[]

In [80]:
# Scraping Name 
try:
    name_tags =driver.find_elements(By.XPATH,"//h3[@class='lister-item-header']/a")
    for i in name_tags:
        name.append(i.text)
except NoSuchElementException:
    name.append('NA')
    
# Scraping Year span
try:
    year_tags =driver.find_elements(By.XPATH,"//h3[@class='lister-item-header']/span[2]")
    for i in year_tags :
        year.append(i.text)
except NoSuchElementException:
    year.append('NA')
    
# Scraping Genre via Xpath
try:
    genre_tags =driver.find_elements(By.XPATH,"//span[@class='genre']")
    for i in genre_tags :
        genre.append(i.text)
except NoSuchElementException:
    genre.append('NA')
    
# Scraping Run Time 
try:
    run_time_tags =driver.find_elements(By.XPATH,"//span[@class='runtime']")
    for i in run_time_tags :
        run_time.append(i.text)
except NoSuchElementException:
    run_time.append('NA')
    
# Scraping Ratings
try:
    ratings_tags =driver.find_elements(By.XPATH,"//div[@class='ipl-rating-star small']/span[2]")
    for i in ratings_tags :
        ratings.append(i.text)
except NoSuchElementException:
    ratings.append('NA')

# Scraping Votes
try:
    votes_tags =driver.find_elements(By.XPATH,"//span[@name='nv']")
    for i in votes_tags :
        votes.append(i.text)
except NoSuchElementException:
    votes.append('NA')

In [81]:
print(len(name))
print(len(genre))
print(len(year))
print(len(run_time))
print(len(ratings))
print(len(votes))

100
100
100
100
100
100

In [82]:
# Creating DataFrame for scrapped data

data_list= list(zip(name,year,genre,run_time,ratings,votes ))

data= pd.DataFrame(data_list, 
    columns =['Name','Year span','Genre', 'Run_Time','Ratings','Votes'],
                  index=pd.RangeIndex(start=1, stop=101, name='Rank'))

#Print the required data

print ("Details of most watched tv series of all time from imdb.com. :\n")
data

Details of most watched tv series of all time from imdb.com. :

,Name,Year span,Genre,Run_Time,Ratings,Votes
Rank,,,,,,
1,Game of Thrones,(2011–2019),"Action, Adventure, Drama",57 min,9.2,"2,176,675"
2,Stranger Things,(2016–2024),"Drama, Fantasy, Horror",51 min,8.7,"1,253,928"
3,The Walking Dead,(2010–2022),"Drama, Horror, Thriller",44 min,8.1,"1,033,736"
4,13 Reasons Why,(2017–2020),"Drama, Mystery, Thriller",60 min,7.5,"303,917"
5,The 100,(2014–2020),"Drama, Mystery, Sci-Fi",43 min,7.6,"263,089"
...,...,...,...,...,...,...
96,Reign,(2013–2017),Drama,42 min,7.4,"52,024"
97,A Series of Unfortunate Events,(2017–2019),"Adventure, Comedy, Drama",50 min,7.8,"64,047"
98,Criminal Minds,(2005– ),"Crime, Drama, Mystery",42 min,8.1,"208,784"
99,Scream: The TV Series,(2015–2019),"Comedy, Crime, Drama",45 min,7,"43,431"
100,The Haunting of Hill House,(2018),"Drama, Horror, Mystery",572 min,8.6,"260,785"

Q8.Details of Datasetsfrom UCI machine learning repositories. 
Url = https://archive.ics.uci.edu/
You have to find the following details:
A) Dataset name
B) Data type
C) Task
D) Attribute type
E) No of instances
F) No of attribute
G) Year

In [83]:
#First connect to the driver

driver= webdriver.Chrome(r"C:\Users\91741\Downloads\chromedriver_win32\chromedriver.exe")

#open the page in automated chrome browser

driver.get(" https://archive.ics.uci.edu/ ")

In [90]:
# Clicking on all datasets links
dataset=driver.find_element(By.XPATH,"//a[@href="/datasets"]")
dataset.click()

SyntaxError: invalid syntax (99575584.py, line 2)

In [91]:
# Creating empty lists for scrapped data

name =[]
dtype =[]
task =[]
attribute_type =[]
no_of_instances =[]
no_of_Attri=[]
year=[]

In [92]:
# Scraping DataSet Name

try:
    name_tags =driver.find_elements(By.XPATH,"//p[@class='normal']/b/a")
    for i in name_tags:
        name.append(i.text)
except NoSuchElementException:
    name.append('NA')
    
# Scraping Data Type
try:
    dtype_tags=driver.find_elements(By.XPATH,'/html/body/table[2]/tbody/tr/td[2]/table[2]/tbody/tr/td[2]')
    for i in dtype_tags[1:]:
        dtype.append(i.text)
except NoSuchElementException:
    dtype.append('NA')
    
# Scraping Task
try:
    task_tags =driver.find_elements(By.XPATH,'/html/body/table[2]/tbody/tr/td[2]/table[2]/tbody/tr/td[3]')
    for i in task_tags [1:]:
        task.append(i.text)
except NoSuchElementException:
    task.append('NA')
    
# Scraping Attribute_Type
try:
    attribute_type_tags =driver.find_elements(By.XPATH,'/html/body/table[2]/tbody/tr/td[2]/table[2]/tbody/tr/td[4]')
    for i in attribute_type_tags[1:]:
        attribute_type.append(i.text)
except NoSuchElementException:
    attribute_type.append('NA')
    
# Scraping No_of_Instances
try:
    no_of_instances_tags =driver.find_elements(By.XPATH,'/html/body/table[2]/tbody/tr/td[2]/table[2]/tbody/tr/td[5]')
    for i in no_of_instances_tags [1:]:
        no_of_instances.append(i.text)
except NoSuchElementException:
    no_of_instances.append('NA')

# Scraping No_of_Attribute
try:
    no_of_Attri_tags =driver.find_elements(By.XPATH,'/html/body/table[2]/tbody/tr/td[2]/table[2]/tbody/tr/td[6]')
    for i in no_of_Attri_tags [1:]:
        no_of_Attri.append(i.text)
except NoSuchElementException:
    no_of_Attri.append('NA')
    
# Scraping Year
try:
    year_tags =driver.find_elements(By.XPATH,'/html/body/table[2]/tbody/tr/td[2]/table[2]/tbody/tr/td[7]')
    for i in year_tags[1:]:
        year.append(i.text)
except NoSuchElementException:
    year.append('NA')

In [93]:
# Creating DataFrame for scrapped data

data_list= list(zip(name,dtype,task,attribute_type,no_of_instances,no_of_Attri,year))

data= pd.DataFrame(data_list, 
    columns =['Name','Data Type','Task', 'Attribute_Type','No_of_Instances','No_of_Attribute','Year'],
                  index=pd.RangeIndex(start=1, stop=623, name='Sr No'))

#Print the required data

print ("Details of the Datasets from UCI machine learning repositories :\n")
data

Details of the Datasets from UCI machine learning repositories :

      Name Data Type Task Attribute_Type No_of_Instances No_of_Attribute Year
Sr No
1      NaN       NaN  NaN            NaN             NaN             NaN  NaN
2      NaN       NaN  NaN            NaN             NaN             NaN  NaN
3      NaN       NaN  NaN            NaN             NaN             NaN  NaN
4      NaN       NaN  NaN            NaN             NaN             NaN  NaN
5      NaN       NaN  NaN            NaN             NaN             NaN  NaN
...    ...       ...  ...            ...             ...             ...  ...
618    NaN       NaN  NaN            NaN             NaN             NaN  NaN
619    NaN       NaN  NaN            NaN             NaN             NaN  NaN
620    NaN       NaN  NaN            NaN             NaN             NaN  NaN
621    NaN       NaN  NaN            NaN             NaN             NaN  NaN
622    NaN       NaN  NaN            NaN             NaN             NaN  NaN

[622 rows x 7 columns]

Q9.Scrape the details of Data science recruiters Url = https://www.naukri.com/hr-recruiters-consultants
You have to find the following details: 
A) Name
B) Designation
C)Company 
D)Skills they hire for 
E) Location

In [94]:
import pandas as pd
import selenium
from bs4 import BeautifulSoup
import time
from selenium import webdriver
import requests
import re
from selenium.common.exceptions import NoSuchElementException, StaleElementReferenceException
from selenium.webdriver.support.ui import WebDriverWait

import warnings
warnings.filterwarnings('ignore')

In [99]:
#First connect to the driver

driver= webdriver.Chrome(r"C:\Users\91741\Downloads\chromedriver_win32\chromedriver.exe")

#open the page in automated chrome browser

driver.get("https://www.naukri.com/data-science-recruiters")

In [100]:
# Creating Empty List for scrapped datas
name=[] 
designation=[] 
company=[] 
skills=[]
url=[]

In [101]:
# Scraping name
try:
    name_tags =driver.find_elements(By.XPATH,'//span[@class="fl ellipsis"]')
    for i in name_tags:
        name.append(i.text)
except NoSuchElementException:
    name.append('NA')
    
# Scraping designation
try:
    des_tags =driver.find_elements(By.XPATH,'//span[@class="ellipsis clr"]')
    for i in des_tags:
        designation.append(i.text)
except NoSuchElementException:
    designation.append('NA')


# Scraping company
comp=[]
try:
    com_tags =driver.find_elements(By.XPATH,'//a[@class="ellipsis"]')
    for i in com_tags:
        comp.append(i.text)
except NoSuchElementException:
    comp.append('NA')
    
for i in range(0, len(comp)):
    if i %2==1:
        company.append(comp[i])
        
        
# Scraping skills
try:
    skills_tags =driver.find_elements(By.XPATH,'//div[@class="hireSec highlightable"]')
    for i in skills_tags:
        skills.append(i.text)
except NoSuchElementException:
    skills.append('NA')
    
    
# Scraping url
try:
    url_tags =driver.find_elements(By.XPATH,'//div[@class="recImg mid_pImg_Silht"]/a')
    for i in url_tags:
        url.append(i.get_attribute("href"))
except NoSuchElementException:
    url.append('NA')

In [102]:
# Creating DataFrame for scrapped data

data_list= list(zip(name,designation,company,skills,url))

data= pd.DataFrame(data_list, 
    columns =['Name', 'Designation', 'Company','Skills','URL'],
                  index=pd.RangeIndex(start=1, stop=51, name='Sr No'))

#Print the required data

print ("Details of Data science recruiters from naukri.com:\n")
data

Details of Data science recruiters from naukri.com:

      Name Designation Company Skills  URL
Sr No
1      NaN         NaN     NaN    NaN  NaN
2      NaN         NaN     NaN    NaN  NaN
3      NaN         NaN     NaN    NaN  NaN
4      NaN         NaN     NaN    NaN  NaN
5      NaN         NaN     NaN    NaN  NaN
6      NaN         NaN     NaN    NaN  NaN
7      NaN         NaN     NaN    NaN  NaN
8      NaN         NaN     NaN    NaN  NaN
9      NaN         NaN     NaN    NaN  NaN
10     NaN         NaN     NaN    NaN  NaN
11     NaN         NaN     NaN    NaN  NaN
12     NaN         NaN     NaN    NaN  NaN
13     NaN         NaN     NaN    NaN  NaN
14     NaN         NaN     NaN    NaN  NaN
15     NaN         NaN     NaN    NaN  NaN
16     NaN         NaN     NaN    NaN  NaN
17     NaN         NaN     NaN    NaN  NaN
18     NaN         NaN     NaN    NaN  NaN
19     NaN         NaN     NaN    NaN  NaN
20     NaN         NaN     NaN    NaN  NaN
21     NaN         NaN     NaN    NaN  NaN
22     NaN         NaN     NaN    NaN  NaN
23     NaN         NaN     NaN    NaN  NaN
24     NaN         NaN     NaN    NaN  NaN
25     NaN         NaN     NaN    NaN  NaN
26     NaN         NaN     NaN    NaN  NaN
27     NaN         NaN     NaN    NaN  NaN
28     NaN         NaN     NaN    NaN  NaN
29     NaN         NaN     NaN    NaN  NaN
30     NaN         NaN     NaN    NaN  NaN
31     NaN         NaN     NaN    NaN  NaN
32     NaN         NaN     NaN    NaN  NaN
33     NaN         NaN     NaN    NaN  NaN
34     NaN         NaN     NaN    NaN  NaN
35     NaN         NaN     NaN    NaN  NaN
36     NaN         NaN     NaN    NaN  NaN
37     NaN         NaN     NaN    NaN  NaN
38     NaN         NaN     NaN    NaN  NaN
39     NaN         NaN     NaN    NaN  NaN
40     NaN         NaN     NaN    NaN  NaN
41     NaN         NaN     NaN    NaN  NaN
42     NaN         NaN     NaN    NaN  NaN
43     NaN         NaN     NaN    NaN  NaN
44     NaN         NaN     NaN    NaN  NaN
45     NaN         NaN     NaN    NaN  NaN
46     NaN         NaN     NaN    NaN  NaN
47     NaN         NaN     NaN    NaN  NaN
48     NaN         NaN     NaN    NaN  NaN
49     NaN         NaN     NaN    NaN  NaN
50     NaN         NaN     NaN    NaN  NaN